<!DOCTYPE html>
<html lang="en">

<head>
  <base href="{{ .BasePath }}/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - Herald</title>
  <link rel="stylesheet" href="dist/{{ .Bundle }}.css">
</head>

<body>
  <header class="app-header">
    <a href="" class="brand">Herald</a>
    <nav>
      <a href="prompts">Prompts</a>
    </nav>
  </header>
  <main id="app-content">
    {{ block "content" . }}{{ end }}
  </main>

  <script type="module" src="dist/{{ .Bundle }}.js"></script>
</body>

</html>
